.col-md-4:first-of-type{
  display: block;
  max-width: 260px;
  text-align: center;
}
.well{
  padding-bottom: 300px;
  padding-left: 10px;

}
img{
  display: block;
  align-content: center;
  padding-top: 50px;
  max-width: 140px;
  max-height: 200px;
  transform: rotate(270deg);
}
.jobexp{
  padding-left: 20px;
}

h5{
  line-height: 25px;
}
h2{
  line-height: 5px;
}
